body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0%;
}



#edit-form form ul li {
    display: flex;
    align-items: center;
    margin-top: 5%;
}